* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1300px;
  padding: 15px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn__block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__block {
  display: flex;
  align-items: center;
}
.header__text {
  font-size: 28px;
  margin-left: 5px;
}
.btn {
  padding: 15px;
  background-color: rgb(93, 93, 222);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.wordsContainer {
  max-width: 600px;
  border: 1px solid greenyellow;
  margin: 10px auto;
  border-radius: 12px;
  font-size: 24px;
  padding: 30px;
  text-align: left;
  background: white;
  user-select: none;
}

.inputContent {
  display: flex;
  justify-content: center;
}

.textArea {
  width: 80%;
  font-size: 28px;
  height: 150px;
  padding: 20px;
  border: 1px solid greenyellow;
  border-radius: 12px;
  outline: none;
  resize: none;
}

.textArea:disabled {
  cursor: no-drop;
}

.wrong {
  background-color: rgb(224, 36, 36);
}

.exact {
  background-color: rgb(35, 169, 35);
}

.startBtnBlock {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.startBtn {
  background-color: rgb(143, 236, 4);
  padding: 20px 30px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
}

.taimerCount {
  color: rgb(35, 169, 35);
  font-size: 42px;
  display: flex;
  justify-content: center;
}

.resultBlock {
  padding: 30px 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #adff2f;
  border-radius: 12px;
}
.wrongs__block {
  max-width: 150px;
}

.first {
  color: rgb(232, 57, 92);
  font-size: 28px;
}

.second {
  color: rgb(224, 36, 36);
  font-size: 48px;
}

.nextLevelBtn {
  background: #71b707;
  color: black;
  border-radius: 16px;
  border: none;
  padding: 18px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.levelBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  padding: 20px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
  border-radius: 3px;
}
.levelBlock:hover {
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.37);
  border-radius: 3px;
}
.level__acurancy__block {
  border: none;
}

.name {
  font-size: 20px;
}
.procent {
  font-size: 32px;
}

.levelTitle {
  font-size: 20px;
}

.levels__container {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.allScrinModal {
  background-color: rgba(193, 164, 164, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #ffff;
  border: 1px solid black;
  opacity: 1;
}

.modal__block {
  position: relative;
  padding: 70px;
}

.close__modal {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 28px;
  cursor: pointer;
}

.close__modal:hover {
  box-shadow: rgb(5px 5px 0 / 37%);
}

.moda__text {
  font-size: 22px;
}

.loginForm {
  background-color: rgba(193, 164, 164, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 500px;
  background: #ffff;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin: 30px auto;
}
.loginForm__btn {
  padding: 8px 20px;
  background: rgb(93, 93, 222);
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 18px;
}
.loginForm__btn:disabled {
  cursor: no-drop;
}
.input__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
label {
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
}

.error__style {
  width: 90%;
  color: red;
  text-align: left;
}

.input__login {
  width: 90%;
  padding: 10px;
  outline: none;
  text-decoration: none;
  /* border: none; */
  border-bottom: 1px solid black;
}
